h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 45vh;
    width: 30vw;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}